
   /* for Mobile devices */


 @media screen and (max-width:572px) { 

    .gamar-container{

        flex-direction: column;
    }

    .gamer-item-container ul{
        flex-direction: column;
        padding-left: 70px;
    }
    
    .gamer-item-container li{
        margin-top: 20px;
        
    }



    .banner-section{
        flex-direction: column;

    }


    .online-game-section h3{
        padding: 20px 20px;

    }


    .forth-item-container{

        width: 50%;
       flex-direction: column;
       padding: 0px 60px 0px 0px;
    }
   

    .horse-container{

     flex-direction: column; 

    }

    

    

    
 
    
    } 


    /* medium-large device */



    @media screen and (min-width:572px) and (
        max-width:992px)
        {


            .gamar-container
            {

             flex-direction: column; }
        
            .gamer-item-container ul{
                flex-direction: column;
                padding-left: 70px;
            }
            
            .gamer-item-container li{
                margin-top: 20px;   
            }
   
            .banner-section{
                flex-direction: column;
        
            }
        
            .online-game-section h3{
                padding: 20px 20px;
        }


        .forth-item-container{
            flex-direction: column;
            padding: 0px 0px 0px 30px;
         }


         .horse-container{

            flex-direction: column; 
       
           }
       
        


    }

