
   /* for Mobile devices */


 @media screen and (max-width:572px) { 

    .gamar-container{

        flex-direction: column;
    }

    .gamer-item-container ul{
        flex-direction: column;
        padding-left: 70px;
    }
    
    .gamer-item-container li{
        margin-top: 20px;
        
    }



    .banner-section{
        flex-direction: column;

    }


    .online-game-section h3{
        padding: 20px 20px;

    }


    .fourth-pic-container{

        grid-template-columns: none;
      
   
   }
   
   
    .group-pic{
        grid-template-columns: 1fr;

        

    }



    .horse-container{

     flex-direction: column; 

    }

    .icon-with-btn-container{
        grid-template-columns: max-content;

    }



    

    

    
 
    
    } 


    /* medium-large device */



    @media screen and (min-width:572px) and (
        max-width:992px)
        {


            .gamar-container
            {

             flex-direction: column; }
        
            .gamer-item-container ul{
                flex-direction: column;
                padding-left: 70px;
            }
            
            .gamer-item-container li{
                margin-top: 20px;   
            }
   
            .banner-section{
                flex-direction: column;
        
            }
        
            .online-game-section h3{
                padding: 20px 20px;
        }


    


         .horse-container{

            flex-direction: column; 
       
           }

           .footer-container{

            flex-direction: column; 

           }
       
        


    }

