*{
    margin: 0;
    padding: 0;
}


  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Ubuntu:wght@500&family=Work+Sans:wght@400;600;700;800&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;

}


 /* nav seciton start  */

 .gamar-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 130px;
    max-width: 700px;
    margin: 0 auto;
}

.gamar-container span {
    color: #F948B2;
  
}


.logo-titel img{
    width: 50px;
    margin-right: 10px;
}

.gamer-item-container ul{

    display: flex;
    align-items: center;
    justify-items: center;
}

.gamer-item-container a{
    text-decoration: none;
}
.gamer-item-container li{
    margin-right: 20px;
    list-style: none;
    color: #3C354F;
    font-size: 12px;
    font-weight: 700;

}

.logo-titel{
    display: flex;
    align-items: center;
}

.follow-btn{
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 150px;
    height: 15px;
    padding: 10px 20px;
    gap: 20px;
}

/* nav section end */



/* banner section start */


.banner-section{

    background-color: #F144AE0D;
     display: flex;
     align-items: center;
     justify-content: space-evenly;

}


.banner-line-1 h3{

    color: #0B0223;
    padding: 5px;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase; 
}


.banner-line-1 h1{
    font-size: 50px;
    font-weight: 850px;
    font-family: Work Sans;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;


}

.banner-line-1 p{

    margin-top: 5px;
    color: #534C64;
    font-family: Work Sans;
    padding-left: 10px ;

}

.banner-picture img{
  width: 350px;
  height: 320px;

}


.btn-praimary-1{

     margin-top:15px;
    border-radius: 60px;
    padding: 10px 20px;
    border: 0;
    font-family: Work Sans;
    text-transform: uppercase;
    background: #FF42A5 ;
    color: #FFF;
    font-size:11px;
    font-weight: 900;

}

.btn-praimary-2{

    border-radius: 60px;
    padding: 10px 20px;
    border: 0;
    font-family: Work Sans;
    text-transform: uppercase;
    background: #4EC5F7;
    color: #FFF;
    font-size:11px;
    font-weight: 900;

}


/* banner section end */


/* <!-- online-game-section start --> */

.online-game-section{
   
    text-align: center;
   margin: 30px 0px;

}

.online-game-section h3 {
     color: #0B0223;
     font-family: Work Sans;
     font-size: 2rem;

}

.online-game-section span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 2rem;
   
}

.online-game-section p{

    color: #534C64;
    font-family: Work Sans;
    font-size: 1rem;

}

 /* online-game-section end  */



/* image-section-start  */

.fourth-pic-container{

     width: 90%;
     height: 80%;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     margin: 0 70px;

}

.group-pic img {
   
    width: 80%;
    padding: 0 30px;
  
}


.group-pic p{
    width: 85%;
    color: #534C64;
    font-size: 14px;
    margin: 0 30px;
  
}



/* <!--image-section-end --> */




   /* horse-section-start */


.horse-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;

}


.horse-title h3{

   font-size: 45px;
  line-height: 60px; 



}

.horse-title p{

     color: #534C64;
     font-size: 10px;
     font-weight: 400;

}

.horse-img img{
    width: 400px;
    height:420px;
   border-radius: 5px;

}
.horse-title span{
    
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.horse-up-pic{

    position: relative;
    bottom: 130px;
    right: 30px;
    margin-left: 580px ; 

}

.horse-up-pic img{
    width: 130px;
   height: 140px ;

}



/* horse-section-end */







 /* icon-with-btn start */


            .icon-with-btn-container{

                margin : 0 70px;
                margin-bottom: 20px;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 10px;
                background-color: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);;
                

            }


            .first-icon-bar{
                border: 0.50px solid white;
                width: 130px;
                height: 48px;
                display: flex;
                align-items: center;
                padding: 9px 20px 9px 20px;
                border-radius:60px;
                background-color: whitesmoke;

            }

            .first-icon-bar img{
                width:40px;

            }

            .first-icon-bar p{
                margin-left: 10px;

            }

            .first-icon-bar:hover{
                border: 1px solid sandybrown;
                border-radius: 50px; 
            }


            /* icon-with-btn end */


      /* footer section  start*/

            .footer-container{
                background: black;

            }

            .footer-pic{
            
                margin-bottom: 40px;
                display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
            

            }

            .footer-pic img{
                width: 40px;
                padding-right: 10px;

            }

            .footer-pic h2{
                color: #FFF;
            
            }


            .footer-pic span{
                color: #FF42A5 ;
            }

            
            .footer-first-list ul {
            
                display: flex;
                justify-content: center;
                list-style: none;
                gap: 30px;
                margin-top: 0;

            }

            .footer-first-list li{
                list-style: none;
                color: #FFF;
                font-size: 10px;
                font-weight: 800;
            


            }

            .socail-icon{
                display: flex;
                margin-bottom: 10px;
                justify-content: center;
                align-items: center;
            
            }

            .socail-icon li {
                list-style: none;
                padding: 15px;
            }


            .footer-second-list{
                display: flex;
                justify-content: center ;


            }

            .footer-second-list li{
                color: #FFF;
                list-style: none;
                padding: 15px;
                font-size: 10px;

            }

            .footer-second-copyright{
                display: flex;
                justify-content: center ;


            }
            .footer-second-copyright p {
                color: #FFF;
                padding: 15px;
                font-size: 10px;
            }

      /* footer end */
